

<footer class="py-1 site-footer">
    <div class="container">
        <div class="row">
            <!-- Sectiunea Despre noi -->
            <div class="col-md-4">
                <h5>Despre noi</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <!-- Sectiunea de contact -->
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: contact@exem.com</li>
                    <li>Telefon: +40 123 456 789</li>
                    <li>Adresa: Rasnov</li>
                </ul>
            </div>
            <!-- Sectiunea urmareste-ne -->
            <div class="col-md-4">
                <h5>Urmareste-ne</h5>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a href="#" class="text-white"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li class="ms-3"><a href="#" class="text-white"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li class="ms-3"><a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</footer>
