
<div class="container nav-bar">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <div class="topnav" id="myTopnav">
        <a href="/index.html" class="active">Acasa</a>
        <a href="/pages/despre-noi.html">Despre noi</a>
        <a href="/pages/inscrieri.html">Inscrieri</a>
        <a href="/pages/oferta-educationala.html">Oferta educationala</a>
        <a href="/pages/resurse.html">Resurse</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>