.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 100px;
    margin-bottom: 140px;
    color: #0A2E5C;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.navbar .nav-link.active {
    background-color: #0A2E5C; 
    color: white !important; 
    
  }

  /* Stilizare scrollbar */
 ::-webkit-scrollbar {
     width: 12px;
     /* Lățimea scrollbar-ului */
 }

 ::-webkit-scrollbar-track {
     background: transparent;
 }

 ::-webkit-scrollbar-thumb {
     background: #B8D7FF;
     border-radius: 12px;
     border: 3px solid transparent;
     /* Micșorează thumb-ul vizual */
     background-clip: padding-box;
     /* Asigură că border-ul nu afectează culoarea thumb-ului */
 }

 ::-webkit-scrollbar-thumb:hover {
     background: #0A2E5C;
 }

 /* Ascunde scrollbar-ul pe mobil */
 @media (max-width: 768px) {
     ::-webkit-scrollbar {
         display: none;
     }
 }